<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<title>Rest API</title>
<style>
  body {
    width: 75vw;
    margin: 0 auto;
    text-align: center;
    /* border: red 2px solid; */
  }
  .nav-style {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 1.5rem;
  }
  footer {
    position: absolute;
    bottom: 1rem;
    width: 75vw;
    margin: 0 auto;
  }
</style>
