<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Rest API</title>
  </head>
  <style>
    body {
      width: 75vw;
      margin: 0 auto;
      text-align: center;
      border: red 2px solid;
    }
    .nav-style {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      gap: 1.5rem;
    }
    .data-container {
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto nav-style">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link">Register User</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About us</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="data-container">
      <%if(data.length) {%>
      <table>
        <thead>
          <th>username</th>
          <th>age</th>
          <th>toolStack</th>
        </thead>
        <tbody>
          <% for(let i = 0; i < data.length; i++){%>
          <tr>
            <td><%=data[i].username%></td>
            <td><%=data[i].age%></td>
            <td><%data[i].toolStack%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
      <%}%>
    </div>
  </body>
</html>
